/* 
** Author: Abdallah Mohammed
** Theme: Shop Buy
** Version: 1.0
** Page: Category
*/




/* ---------------------------------- Category ---------- */
.cat {
	padding: 150px 0;
}

.search-products .title-cat {
	line-height: 50px;
    padding: 0 40px 0 30px;
    font-size: 18px;
}
/* End */




/* ---------------------------------- Sidebar Categories ---------- */
.sidebar-categories .type-product .head-type {
	background-color: #384aeb;
}

.sidebar-categories .type-product .head-type .show-cat {
    top: 20px;
    right: 35px;
    color: #e9ecef;
	outline: none;
	background-color: transparent;
}

.sidebar-categories .type-product .head-type .show-cat .iconfilter {
	width: 15px;
	height: 3px;
	background-color: #fff;
}

.sidebar-categories .type-product .head-type .show-cat .iconfilter:nth-child(2) {
	transform: rotate(90deg);
	transition: all .2s ease;
}

.sidebar-categories .type-product .head-type .show-cat .iconfilter:nth-child(2).hidden  {
	transform: rotate(0deg);
}

.sidebar-categories .type-product .type-filters {
	padding: 20px 28px;
	background-color: #f8f9fa;
}

.sidebar-categories .type-product .hidden-filters {
	position: absolute;
	top: auto;
	bottom: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
}
/* End Sidebar Categories */